#Ignore these directories:
.nextflow/
learn_DSL2/.nextflow/
learn_DSL2/see/
learn_DSL2/blastn_output/
learn_DSL2/polio_blastn_output/
learn_DSL2/polio_contigs/
learn_DSL2/fastq/
learn_DSL2/intermediate/
learn_DSL2/annotated/
Competency_Item_1_B_IV_2/

#Ignore these files:
.nextflow.log*
learn_DSL2/.nextflow.log*
