#Ignore these directories:
.nextflow/
learn_DSL2/.nextflow/
learn_DSL2/see/
learn_DSL2/blastn_output/
learn_DSL2/polio_blastn_output/
learn_DSL2/polio_*/
learn_DSL2/noro_*/
learn_DSL2/fastq/
learn_DSL2/intermediate/
learn_DSL2/annotated/
learn_DSL2/blastn_db/
blastn_db/mastadenovirus_A/MN901835.n??
Competency_Item_1_B_IV_2/
intermediate/
annotated/
old_DSL1/
blastn_output/
messy_contigs/
anonymousContigs/
test_genomes/
work/

#Ignore these files:
.nextflow.log*
*.fasta
learn_DSL2/.nextflow.log*
nextflow*
blast*
perl:5.32
my_blast*.sif
my_nextflow.sif
my_perl.sif