params {
  querydir = "$PWD/messy_contigs/"
  dbDir = "$PWD/blastn_db/poliovirus/"
  dbName = "MZ245455"
  threads = 8
  outdir = "$PWD/annotated"
  intermdir = "$PWD/intermediate"
  options = "-evalue 1e-25"
  outfmt = "'6'"
  glob = true
  help = false
}

manifest {
  description = 'Trim viral genome contigs according to BlastN database alignments'
  author = 'Darlene D. Wagner'
  mainScript = 'trimViralContigs.nf'
}
