params {
  querydir = "$PWD/test_genomes/*.fasta"
  dbDir = "/scicomp/home-pure/ydn3/nextflow_for_read_mapping/reference_Human_Poliovirus_Sabin_2/"
  dbName = "AY184220.1"
  threads = 8
  outdir = "$PWD/tentativeOutput"
  intermdir = "$PWD/blastnIO"
  options = "-evalue 1e-25"
  outfmt = "'6'"
  glob = true
  help = false
}

manifest {
  description = 'Trim viral genome contigs according to BlastN database alignments'
  author = 'Darlene D. Wagner'
  mainScript = 'blastnCOVIDExtract3.nf'
}
