params {
  querydir = "$PWD/messy_contigs/"
  dbDir = "$PWD/blastn_db/poliovirus/"
  dbName = "MZ245455"
  threads = 8
  outdir = "$PWD/annotated"
  intermdir = "$PWD/intermediate"
  options = "-evalue 1e-25"
  outfmt = "'6'"
  glob = true
  help = false
}
 
singularity {
        // Enable Singularity features.
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.runOptions = '--bind /scicomp/reference-pure:/scicomp/reference-pure --bind /scicomp/scratch:/scicomp/scratch'

        // Disable other container software.
        docker.enabled         = false
        conda.enabled          = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false

        // Prevents mounting errors in Singularity container creation caused by bad TMPDIR creation.
        process.scratch = false
    }

manifest {
  description = 'Trim viral genome contigs according to BlastN database alignments'
  author = 'Darlene D. Wagner'
  mainScript = 'trimViralContigs.nf'
}
